<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是一本书</title>
    <link rel="stylesheet" href="static/css/pub.css">
    <link rel="stylesheet" href="static/css/books.css">
    <link rel="stylesheet" href="static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="static/css/bookmessage.css">
</head>
<body>
    <div class="viewport">

    <div class="header">
        <div class="outer">
            <div class="one qian"><a href="">8</a></div>
            <div class="one hou"><a href="">6</a></div>
            <div class="one zuo"><a href="/about">2</a></div>
            <div class="one you"><a href="">5</a></div>
            <div class="one shang"><a href="">1</a></div>
            <div class="one xia"><a href="/talk">4</a></div>
        </div>
        <h1>这是一本书</h1>
    </div>
    <div class="daohang">
        <table>
            <tr>
                <td class="daohangone"><a href="/">首页</a></td>
                <td class="daohangtwo"><a href="/news">新品推荐</a></td>
                <td class="daohangone"><a href="/max">特色书店</a></td>
                <td class="daohangtwo"><a href="/ebook">数字内容</a></td>
                <td class="daohangone"><a href="/me">我的</a></td>
                <td class="daohangtwo"><a href="/help">售后服务</a></td>
            </tr>
        </table>
    </div>

        <div class="body_item_top">
            
        </div>
        <div class="body_item_center">

        </div>
        <div class="body_item_end"></div>

    <div class="endpage">
        <center>毕业设计:网上书店</center>
    </div>

</div>


<script src="static/js/swiper-bundle.min.js"></script>
    <script src="static/js/index.js"></script>
    <script>        
        var mySwiper = new Swiper ('.swiper-container', {
          direction: 'horizontal',
          loop: true,
          
          // 如果需要分页器
          pagination: {
            el: '.swiper-pagination',
          },
          
          // 如果需要前进后退按钮
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          
        })        
        </script>
</body>
</html>