<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    
    <form action="/swiperbase/saveswiper" method="post">
        <table>
        <tr>
            <td>id</td>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <td>图书名称</td>
            <td><input type="text" name="img_name"></td>
        </tr>
        <tr>
            <td>图片地址</td>
            <td><input type="text" name="img_url"></td>
        </tr>
        
        </table>
        <button type="submit">确定</button>
    </form>
</body>
</html>