<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="static/css/html.css">
</head>
<body>
    <div class="header">
        <div class="outer">
            <div class="one qian"><a href="">4</a></div>
            <div class="one hou"><a href="">6</a></div>
            <div class="one zuo"><a href="/about">2</a></div>
            <div class="one you"><a href="">5</a></div>
            <div class="one shang"><a href="">1</a></div>
            <div class="one xia"><a href="/talk">3</a></div>
        </div>
        <h1><%= title %></h1>
    </div>
    <div class="daohang">
        <table>
            <tr>
                <td class="daohangone"><a href="/">首页</a></td>
                <td class="daohangtwo"><a href="/artist">文章</a></td>
                <td class="daohangone"><a href="/about">关于</a></td>
                <td class="daohangtwo"><a href="/talk">与我联系</a></td>
            </tr>
        </table>
    </div>

    <div class="endpage">
        <center>没有版权，随便侵权</center>
    </div>
</body>
</html>